@using tcs.lib
@model tcs.crm.Models.ChangePasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.AddCss("~/Content/ext/bootstrap.css")
    @Html.AddCss("~/Content/ext/bootstrap-responsive.css")
    @Html.AddCss("~/Content/ext/datepicker.css")
    @Html.AddCss("~/Content/ext/blue.css")
    @Html.AddCss("~/Content/ext/gebo.css")
    @Html.AddCss("~/Content/min/global.css")
    @Html.AddCss("~/Content/dev/accountinfo.css")
}

@section JS_INC
{
    @Html.IncludeVersionedJs("/Scripts/min/account.js")
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "updateForm" }))
{
    @Html.AntiForgeryToken()
    <table border="0" cellspacing="0" cellpadding="4" class="tblChangePassword">
        <tr>
            <td colspan="2">
                <h2>Đổi mật khẩu</h2>
            </td>
        </tr>
        <tr>
            <td>
                Mật khẩu cũ
            </td>
            <td>
                @Html.PasswordFor(m => m.OldPassword, new { maxlength = "128", tabindex = "0" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </td>
        </tr>
        <tr>
            <td>
                Mật khẩu mới
            </td>
            <td>
                @Html.PasswordFor(m => m.NewPassword, new { maxlength = "128", tabindex = "1" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </td>
        </tr>
        <tr>
            <td>
                Xác nhận
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword, new { maxlength = "128", tabindex = "2" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn btn-info" value="Đổi mật khẩu" tabindex="3" />
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <span class="frmerror">@Model.Message</span>
                }
            </td>
        </tr>
    </table>
}
